# Ignore all executable files
*.exe

# Ignore built NuGet packages
*.nupkg

# Ignore Visual Studio Code stuff
.vscode
.fake

# Ignore Visual Studio stuff
.vs

# Ignore macOS stuff
.DS_Store
*.command

# Ignore Windows stuff
Thumbs.db
desktop.ini
